{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components",
      {"ssr": true, "displayName": true, "preprocess": false}
    ],
    ["macros"],
    [
      "module-resolver",
      {
        "root": [
          "./blog"
        ],
        "alias": {
          "~": "./blog"
        }
      }
    ]
  ]
}